
#All {
	
}

#Parents {
	align-items: right;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;

}


#Mama {
	width: 100px;
	border: 1px solid black; 
	margin-right: 10px;
	
}

#Papa {
	margin-left: none;
	width: 100px;
	margin-left: 10px;
	border: 1px solid black; 
	
}

#Papa :only-child{
	width: 80px;
	
}
#Mama :only-child{
	width: 80px;
}
#sex {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}


ul {

	font-size: 14px;
	display: inline-block;
	margin: 2px;
	width: 120px;
	background-color: none;
	border: 1px solid black; 
}

ul:hover {

	font-size: 18px;
	width: 160px;
	border: 3px solid green; 
	
}



#monsterPlayerPoleWar {
	align-items: left;
	display: flex;
}
#PoleWar {
	align-items: center;
	margin-left: auto;
	margin-right: auto;

	justify-content: center;
	text-align: center;
	height: 400px;
	width: 800px;
	border: 1px solid black; 
	
}