
#All {
	
}

#Parents {
	align-items: right;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;

}

#idSellMonster {
	width: 50px;
}

#idHealMonster {
	width: 50px;
}


#Mama {
	width: 200px;
	border: 1px solid black; 
	margin-right: 10px;
	
}

#Papa {
	margin-left: none;
	width: 200px;
	margin-left: 10px;
	border: 1px solid black; 
	
}

#Papa :only-child{
	width: 120px;
	
}
#Mama :only-child{
	width: 120px;
}
#sex {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}


ul {

	text-align: left;
	font-size: 14px;
	display: inline-block;
	margin: 2px;
	width: 190px;
	background-color: none;
	border: 1px solid black; 
}

ul:hover {

	font-size: 16px;
	width: 200px;
	border: 3px solid red; 
	
}

.mamaBorder {
	border: 3px solid rgb(249, 112, 0); 
}
.papaBorder {
	border: 3px solid green; 

}






#money {
	
	display: flex;
	justify-content: center;
	align-items: center;
	
}

